@layer base {
  @font-face {
    font-family: 'IBM Plex Sans Fallback';
    src: local('Arial');
    ascent-override: 101.32%;
    descent-override: 27.18%;
    line-gap-override: 0%;
    size-adjust: 101.17%;
  }
}
